body{
    display: flex;
    padding: 10px 500px;
    align-items: center;
}
#imagem{
    width: 90%;
    padding: 10px;
}
#imagem img{
    width: 100%;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 15pt;
    transition: ease 0.5s;
    cursor: pointer;
}
button:hover{
    background-color: rgb(8, 241, 241);
    color: white;
}