.divAzul{
    width: 200px;
    height: 200px;
    background-color: #006;
}

#fotos{
    width: 60%;
    margin: 20px auto;
    padding: 10px;
}
#fotos img{
    width: 28%;
    margin: 10px;
}
#shadow{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.9);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shadow img{
    width: 50%;
}

#close{
    color: #fff;
    font-size: 30pt;
    padding: 10px;
    background-color: #f00;
    text-decoration: none;
    /* *****OBS.: ARREDONDAMENTO DO COMPONENTE***** border-radius: 50px; */
    position: absolute;
    right: 30px;
    top: 30px;
}